body 
{
    
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

label:active{
    color: rgb(30, 3, 56);
    font-weight: bold;
}
label:hover{
    color: rgb(91, 5, 172);
    font-weight: bold;
}