h1{
    font-size: 18px;
    color: #581845 ;
}
body{
    background-color:  #DAF7A6 ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
    color:#FFC300;
}
a:hover{
    color: #FF5733 ;
}
